# Default ignored files
/../../RP_LiDAR_ZeroMQ_Interface_Server_Cpp /.idea/shelf/
/../../RP_LiDAR_ZeroMQ_Interface_Server_Cpp /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../RP_LiDAR_ZeroMQ_Interface_Server_Cpp /.idea/httpRequests/
# Datasource local storage ignored files
/../../RP_LiDAR_ZeroMQ_Interface_Server_Cpp /.idea/dataSources/
/../../RP_LiDAR_ZeroMQ_Interface_Server_Cpp /.idea/dataSources.local.xml
